/* Google Button: gg-btn-[] */

/* grey */

/* font */
.gg-btn-grey-group button {
  font-family: "Montserrat", sans-serif;
  font-size: smaller;
  font-weight: 600;
}
.gg-btn-grey-group button {
  margin: 1em 0 0.5 auto;
  padding: 1em;
  text-align: center;
  border: transparent;
  border-radius: 0.25em;
  background-color: #f2f2f2;
  opacity: 0.6;
}
.gg-btn-grey-group button:hover {
  /* color: gray; */
  border: thin solid rgb(156, 156, 156);
  opacity: 1;
}

.gg-btn-grey {
  font-family: "Montserrat", sans-serif;
  font-size: 0.9em;
  font-weight: 600;
}
.gg-btn-grey {
  margin: 1em auto;
  padding: 1em;
  text-align: center;
  border: transparent;
  border-radius: 0.25em;
  background-color: #f2f2f2;
  opacity: 0.6;
}
.gg-btn-grey:hover {
  /* color: gray; */
  text-decoration: none;
  border: thin solid rgb(156, 156, 156);
  opacity: 1;
}

/* .gg-btn-grey button {
    background-image: -webkit-linear-gradient(top, #f5f5f5,#f1f1f1 );
    -webkit-border-radius: 2px;
    -webkit-user-select: none;
    background-color: #f2f2f2;
    border: 1px solid #f2f2f2;
    border-radius: 4px;
    color: #5f6368;
    cursor: pointer;
    font-family: "Montserrat", sans-serif;
    font-size: 14px;
    margin: 11px 4px;
    min-width: 54px;
    padding: 10 16px;
    text-align: center;
  } */
